.contact {
  padding: 50px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 24px;
}

.contact p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.contact input,
.contact button,
.contact textarea {
  width: 100%;
  max-width: 400px;
  min-height: 15px;
  padding: 5px;
  margin-bottom: 10px;
}
.contact textarea {
  resize: block;
}

.contact button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--button-primary-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
}

.contact button[type="submit"]:hover {
  background-color: var(--button-primary-bg-color-hover);
}

@media (max-width: 832px) {
  .contact {
    padding-block: 25px;
  }
}