body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* デスクトップ用のスタイル */

header {
  background-color: #3b5998;
  padding: 20px;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  /* background-color: #007bff; */
  color: #fff;
}

.logo {
  margin-right: auto;
  padding: 10px;
  font-weight: bold;
}
.logo a {
  color: #fff;
  text-decoration: none;
}

.header-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu li {
  margin-left: 20px;
}

.header-menu li:first-child {
  margin-left: 0;
}

.header-menu a {
  color: #fff;
  text-decoration: none;
}

/* モバイル用のスタイル */

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 3;
  }

  #menu-toggle:checked ~ .header-menu li {
    margin: 10px 0;
  }

  #menu-toggle:checked ~ .header-menu a {
    color: #fff;
  }
}
